/* =========
   Entire
========= */ 

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-color: slategray;
}

/* =========
   Nav
========= */

h1 {
  text-align: center;
}

.navbar{
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navbtn{
  border: 1px solid black;
  display: inline-flex;
  float: left;
  margin: 0 40px;
  font-size: 20px;
  align-items: center;
}

/* =========
   Body
========= */

/* .cont{     ----NOT FUNCTIONING
  background: whitesmoke;  
  margin: 0 15%;
} */



/* =========
   Footer
========= */

footer {
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
