/* =========
   Entire
========= */ 

body{
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
  /* font-family: Arial, Helvetica, sans-serif;  */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./cash.jpg');
  background-size: 100%;
}

.login {
  text-align: center;
  min-height: 50%;
  min-height: 300px;
}

.register {
  text-align: left;
  padding-left: 35%;
}

.err {
  background: pink; 
  color: red
}

/* =========
   Nav
========= */

h1 {
  text-align: center;
  background: rgb(237, 243, 235); 
  margin: 0 30% 1% 30%;
}

nav {
  margin: 0;
  padding: 0;
}
.navbar{
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(237, 243, 235); 
  margin: 0 5%;
  padding: 20px 0 0 0;
  border-radius: 15px 15px 0 0;
}

.navbtn{
  border: 5px outset rgb(139, 155, 139);
  border-bottom: none;
  padding: 0 5px;
  display: inline-flex;
  float: left;
  margin: 0 40px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  border-radius: 15% 15% 0 0;
  background: rgb(142, 158, 142);
  color: rgb(237, 243, 235);
  text-shadow: 1.5px 1.5px #6d6d6d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tophr{
  width: 90%;
	border-top: 3px solid #3c5c44;
  border-bottom: 1px solid rgb(161, 160, 160);
  margin: 0 auto;
}


#project-title {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1.5px 1.5px #6d6d6d;
  background: rgb(142, 158, 142);
  color: rgb(237, 243, 235);
}

#logout {
  position: absolute;
  right: 2%;
  top: 2%;
  border-radius: 5%;
  background-color: dimgray;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
}

#login {
  position: absolute;
  right: 18%;
  top: 2%;
  border-radius: 5%;
  background-color: dimgray;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
}

#register {
  position: absolute;
  right: 10%;
  top: 2%;
  border-radius: 5%;
  background-color: dimgray;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
}

/* =========
   Body
========= */

h3 {
  text-align: center;
  text-decoration: underline;
}

.cont{    
  background: rgb(237, 243, 235);  
  /* box-shadow: 0 0 10px 5px rgb(237, 243, 235); */
  margin: 0 5%;
  border-radius: 0 0 5% 5%;
}

.entry {
  width: 110px;
  display: table-cell;
}
.long-entry {
  width: 368px;
  display: table-cell;
}

.med-entry {
  width: 230px;
  display: table-cell;
}

li {
  list-style: none;
}

.listy {
    height: 20px;
}

.list-item {
  padding: 2px 15px 0 0;
  margin: 10px 0;
  font-size: 16px;
  width: 100px;
  display: table-cell;
  text-align: left;
}

.goal-item {
  padding: 2px 15px 0 0;
  margin: 10px 0;
  font-size: 16px;
  width: 350px;
  display: table-cell;
  text-align: left;
}

.greyitem {
  background: rgb(89, 94, 89)
}

.edit {
  border: 1px solid black;
  background-color: #5C786C; 
  font-size: 14px;
  border-radius: 10%;
  display: table-cell;
  text-align: right;
  cursor: pointer;
}

.remove {
  border: 1px solid black;
  background-color: rgb(134, 90, 90);
  font-size: 14px; 
  border-radius: 10%;
  display: table-cell;
  text-align: right;
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  font-size: 0.8em;
  text-align: center;
  background-color: #444;
  cursor: pointer;
}

.gol {
  background-color: rgb(245, 207, 37);
  color: orangered;
  border: 1px outset orange;
}
.gol:hover{
  box-shadow: 0 0 20px rgb(245, 207, 37);
}
.sil {
  background-color: rgb(175, 175, 175);
  color: rgb(24, 14, 165);
  border: 1px outset rgb(67, 89, 102)
}
.sil:hover{
  box-shadow: 0 0 20px rgb(175, 175, 175);
}

.lr {
  display: grid;
  margin: 0 2% 15px 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.left, .right{
  padding: 0 2% 3% 2%;
  border: 1px black solid;
  background-color: rgb(169, 184, 173);
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px rgb(169, 184, 173),
    0 10px 1px -4px rgba(0,0,0,0.5),
    0 20px 0 -10px rgb(169, 184, 173),
    0 20px 1px -9px rgba(0,0,0,0.5);
}

.tb {
  margin: 0 2% 15px 2%;
  /* max-width: 90%; */
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
.top-blurb {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-bottom: 5%;
}

.top {
  grid-column: 3 / span 6;
  grid-row: 1;
  border: 1px black solid;
  background-color: rgb(169, 184, 173);
  box-shadow: 
  0 1px 1px rgba(0,0,0,0.15),
  0 10px 0 -5px rgb(169, 184, 173),
  0 10px 1px -4px rgba(0,0,0,0.5),
  0 20px 0 -10px rgb(169, 184, 173),
  0 20px 1px -9px rgba(0,0,0,0.5);
  margin-bottom: 5%;
}

.bottom-blurb {
  grid-column: 7 / span 2;
  grid-row: 2;
  margin-bottom: 5%;
}

.bottom {
  grid-column: 1 / span 6;
  grid-row: 2;
  border: 1px black solid;
  background-color: rgb(169, 184, 173);
  margin-bottom: 5%;
  box-shadow: 
  0 1px 1px rgba(0,0,0,0.15),
  0 10px 0 -5px rgb(169, 184, 173),
  0 10px 1px -4px rgba(0,0,0,0.5),
  0 20px 0 -10px rgb(169, 184, 173),
  0 20px 1px -9px rgba(0,0,0,0.5);
}


input {
  width: 100px;
  background: inherit;
  border: none;
  border-bottom: 1px solid black;
}

.long-input {
  width: 300px;
}

.sum {
  margin-top: 40px;
}

.res-sec {
  padding: 20px 0;
}

.result {
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  margin: 0 20%;
  background: rgb(178, 180, 182);
  border: 1px dashed rgb(53, 75, 66);
	box-shadow: 0 0 0 1px rgb(53, 75, 66), 0 0 0 3px rgb(178, 180, 182), 0 0 0 6px rgb(53, 75, 66), 0 0 2px 8px rgb(178, 180, 182);
}

.pos {
  font-size: 30px;
  color: green;
}

.neg {
  font-size: 30px;
  color: red;
}


/* =========
   Footer
========= */

footer {
  text-align: center;
}
